@charset "8-utf";

body {
  margin: 0;
}

/* Step 1 */
.bg {
  background-image: url("bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 600px;
  z-index: 1;
  opacity: 0;
}

.txt1 {
  background-image: url("txt1.png");
  position: absolute;
  left: 70px;
  top: 409px;
  width: 159px;
  height: 69px;
  z-index: 2;
  opacity: 0;
}

/* Step 2 */
.elem1 {
  background-image: url("elem1.png");
  position: absolute;
  left: 10px;
  top: 208px;
  width: 254px;
  height: 96px;
  z-index: 3;
  opacity: 0;
}

.txt2 {
  background-image: url("txt2.png");
  position: absolute;
  left: 50px;
  top: 409px;
  width: 195px;
  height: 89px;
  z-index: 3;
  opacity: 0;
}

/* Step 3 */
.elem2 {
  background-image: url("elem2.png");
  position: absolute;
  left: 260px;
  top: 191px;
  width: 14px;
  height: 18px;
  z-index: 4;
  opacity: 0;
}

.txt3 {
  background-image: url("txt3.png");
  position: absolute;
  left: 80px;
  top: 406px;
  width: 138px;
  height: 68px;
  z-index: 4;
  opacity: 0;
}

.logo {
  background-image: url("logo.png");
  position: absolute;
  left: 80px;
  top: 492px;
  width: 86px;
  height: 60px;
  z-index: 4;
  opacity: 0;
}